@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    overflow-x: hidden;
}
section {
    padding: 100px 0;
}
section.small {
    padding: 60px 0;
}
img {
    max-width: 100%;
}
p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.glossary_content p span, .scenario_block p span {
  font-size: 20px !important;
  font-family: 'Outfit', sans-serif !important;
}
.text-theme {
    color: #95C800 !important;
}
.theme_btn {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 40px;
    background: #95C800;
    display: inline-block;
    vertical-align: top;
    padding: 14px 30px;
    border: none;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
.theme_btn.large {
    padding: 14px 58px;
}
.theme_btn:hover {
    background: #000;
    color: #fff;
}
.theme_btn.white {
    background: #fff;
}
.theme_btn.black {
    background: #000;
    color: #fff;
}
.theme_btn.white:hover {
    background: #000;
}
.theme_btn.black:hover {
    background: #fff;
    color: #000;
}
.title_area {
    display: block;
}
.title_area h2 {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}
.title_area h2 span {
    color: #95C800;
}
.title_area h3 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}
.title_area h3 span {
    color: #95C800;
}
.title_area h4 {
    color: #878A99;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.title_area h6 {
    color: #95C800;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
}
.title_area h5 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
}
.title_area p {
    margin-bottom: 24px;
}
.navbar {
    padding: 22px 0;
    z-index: 99;
}
.navbar-brand {
    padding: 0;
    margin: 0;
}
.content_area {
    display: block;
    margin: 32px 0;
}
.content_area ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.content_area ul li {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
    padding-left: 40px;
    position: relative;
}
.content_area ul li:before {
    width: 24px;
    height: 24px;
    background: url(../images/check.svg) center no-repeat;
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
}
.content_area ul li:last-child {
    margin: 0;
}
.pb-100 {
    padding-bottom: 100px;
}
.navbar-dark .navbar-nav .nav-link, .navbar[data-bs-theme=dark] .navbar-nav .nav-link {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 10px;
}
.login_menu {
    width: 185px;
    justify-content: flex-end;
}
.home_banner {
    display: block;
    padding-top: 153px;
    background: #1E1E1E url(../images/banner_grid.png) center no-repeat;
    max-height: 890px;
    margin-top: -79px;
    margin-bottom: 60px;
}
.home_banner h1 {
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32px;
}
.home_banner h3 {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 32px;
}
.home_banner figure {
    display: block;
    max-width: 700px;
    border-radius: 20px;
    border: 8px solid rgba(190, 255, 0, 0.20);
    margin: 60px auto 0;
    position: relative;
}
.home_banner figure > img {
    max-width: 100%;
    border-radius: 12px;
}
.home_banner figure::before {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.20);
    border-radius: 12px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(149, 200, 0, 0.3),
        0 0 0 35px rgba(149, 200, 0, 0.3);
    }
    100% {
      box-shadow: 0 0 0 35px rgba(149, 200, 0, 0.3),
        0 0 0 65px rgba(149, 200, 0, 0);
    }
}
.home_banner .play_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ripple 1.5s linear infinite;
}
.feature_section {
    display: block;
}
.feature_section h2 {
    color: #000;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 100px;
}
.feature_item {
    display: block;
    padding: 40px;
    background: #EFEEE8;
    border-radius: 20px;
    text-align: center;
}
.feature_item h5 {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}
.feature_item p {
    color: #878A99;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
}
.feature_item .know_more {
    display: inline-block;
    vertical-align: top;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
.feature_item .know_more:after {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 1px;
    background: #000;
    margin-left: 16px;
    content: "";
    transition: all ease-in-out 0.3s;
}
.feature_item .know_more:hover {
    color: #95C800;
}
.feature_item .know_more:hover:after {
    color: #95C800;
    background: #95C800;
    width: 20px;
}
.feature_item figure {
    aspect-ratio: 1/1;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}
.feature_item figure img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: scale-down;
    object-position: center;
}
.video_section {
    height: 768px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video_section > img {
    height: 768px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}
.video_section:before {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.video_block {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    position: relative;
    z-index: 9;
}
.video_block h2 {
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}
@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(149, 200, 0, 0.3),
        0 0 0 35px rgba(149, 200, 0, 0.3);
    }
    100% {
      box-shadow: 0 0 0 35px rgba(149, 200, 0, 0.3),
        0 0 0 65px rgba(149, 200, 0, 0);
    }
}
.video_block .play_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    animation: ripple 1.5s linear infinite;
}
.content_section {
    display: block;
}
.target_section {
    display: block;
    background: #F7F7F7;
}
.target_block {
    display: block;
    padding: 22px;
    background: #262626;
    border-radius: 16px;
    margin-top: 44px;
    text-decoration: none;
}
.target_block img {
    width: 50px;
    height: 50px;
    object-fit: scale-down;
    margin-bottom: 22px;
}
.target_block h5 {
    color: #95C800;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}
.target_block p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}
.blog_section {
    display: block;
    background: #F7F7F7;
}
.blog_area {
    margin-top: 80px;
}
.blog_area figure {
    position: relative;
    aspect-ratio: 4/3;
    margin: 0;
}
.blog_area figure img {
    max-width: 100%;
    width: 100%;
    aspect-ratio: 4/3;
    margin: 0;
    object-fit: cover;
}
.meta_cat {
    width: calc(100% - 80px);
    height: 40px;
    background: #EAF4CC;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}
.meta_cat a {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
.blog_area figcaption {
    border: 1px solid #D9D9D9;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    border-top: none;
}
.blog_area figcaption h4 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
    /* min-height: 50px; */
}
.blog_area figcaption h4 a {
    color: #000;
    text-decoration: none;
}
.blog_area figcaption p a {
    color: #95C800;
    text-decoration: none;
}
.blog_area figcaption p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog_area figcaption .learn_btn {
    display: inline-block;
    vertical-align: top;
    color: #95C800;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}
.blog_area figcaption .learn_btn:after {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background: #95C800 url(../images/link_arrow.svg) center no-repeat;
    content: '';
    margin-left: 16px;
}
.blog_meta {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    flex-wrap: wrap;
}
.meta_item {
    display: inline-flex;
    align-items: center;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 24px;
}
.meta_item:last-child {
    margin: 0;
}
.meta_item a {
    color: #95C800;
    text-decoration: none;
}
.meta_item img {
    margin-right: 10px;
}
.meta_item img.avatar_img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.pricing_section {
    display: block;
}
.pricing_tab {
    display: inline-flex;
    border-radius: 25px;
    border: 1px solid #CCC;
    background: #F0F0F0;
    padding: 5px;
    margin-bottom: 60px;
}
.pricing_tab a {
    display: inline-block;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 25px;
}
.pricing_tab a.active {
    background: #95C800;
}
.pricing_table {
    padding: 40px;
    display: block;
    border-radius: 16px;
    border: 1px solid #CCC;
    background: #F0F0F0;
    max-width: 360px;
}
.pricing_table hr {
    border-color: #CCC;
    margin: 32px 0;
    opacity: 1;
}
.pricing_table ul {
    margin: 0 0 40px;
    padding: 0;
    list-style-type: none;
}
.pricing_table ul li {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;
}
.pricing_table ul li:before {
    width: 20px;
    height: 20px;
    background: url(../images/check.svg) center no-repeat;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}
.pricing_table ul li:last-child {
    margin: 0;
}
.pricing_table h5 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.pricing_table p {
    color: rgba(0, 0, 0, 0.75);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.pricing {
    display: flex;
    color: #000;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 26px;
}
.pricing_table.featured {
    background: #95C800;   
}
.pricing_table.featured ul li:before {
    filter: brightness(0) invert(1);
}
.pricing_table.featured hr {
    border-color: rgba(255, 255, 255, 0.30);
    opacity: 1;
}
.pricing span.duration {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-self: flex-end;
    margin-bottom: 5px;
}
.pricing sup {
    top: 25px;
    font-size: 40px;
    display: inline-block;
    align-self: flex-start;
}
.cat_section {
    background: #1E1E1E;
    display: block;
}
.cat_section p {
    color: #fff;
    margin-bottom: 32px;
}
.cat_section .theme_btn {
    width: 200px;
    margin: 0 8px;
}
footer {
    padding: 32px 0;
}
footer .footer_logo {
    margin-bottom: 32px;
}
footer h5 {
    line-height: 35px;
    margin-bottom: 32px;
}
footer p {
    font-size: 18px;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
footer ul li {
    display: inline-block;
    width: 100%;
    margin-bottom: 14px;
} 
footer ul li:last-child {
    margin: 0;
}
footer ul li a {
    display: inline-block;
    font-size: 18px;
    line-height: 1.4;
    color: #262626;
    text-decoration: none;
}
footer ul li a:hover {
    color: #95C800;
}
.bottom_footer {
    display: block;
    padding: 24px 0;
    border-top: 1px solid #CCCCCC;
}
.bottom_footer p {
    font-size: 16px;
    margin: 0;
}
.bottom_footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.bottom_footer ul li {
    display: inline-block;
    vertical-align: top;
    margin-left: 24px;
}
.bottom_footer ul li a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}
.bottom_footer ul li:first-child {
    margin: 0;
}
.marketing_banner {
    padding: 140px 0;
    margin-top: -79px;
    position: relative;
}
.marketing_banner:before {
    display: block;
    background: rgba(38, 38, 38, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 9;
}
.marketing_banner > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: luminosity;
}
.marketing_banner .container {
    position: relative;
    z-index: 9;
}
.marketing_banner figure {
    position: relative;
}
.marketing_banner figure:after {
    width: calc(100% - 86px);
    height: calc(100% - 46px);
    background: #95C800;
    position: absolute;
    bottom: -16px;
    left: auto;
    right: -16px;
    content: '';
    z-index: -1;
}
.breadcrumb {
    color: #fff;
}
.breadcrumb-item.active {
    color: #95C800;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    padding-right: 16px;
}
.breadcrumb-item a {
    color: #fff;
    text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: 16px;
}
.solution_section {
    display: block;
}
.solution_item {
    display: block;
    background: #F0F0F0;
    padding: 48px 20px;
    border-radius: 6px;
}
.solution_item h5 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
}
.solution_item p {
    color: #878A99;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.solution_item figure {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #000;
    margin-bottom: 16px;
}
.solution_item figure img {
    max-width: 30px;
}
.calltoaction_section {
    display: block;
    text-align: center;
    padding: 60px;
    border-radius: 20px;
    background: #95C800;
}
.calltoaction_section .title_area h2 span {
    color: #fff;
}
.left_image_content, .right_image_content {
    overflow: hidden;
}
.left_image_content figure {
    overflow: hidden;
    position: relative;
    height: 600px;
    width: 50vw;
    margin: 0;
    margin-left: calc(-50vw + 100%);
}
.right_image_content figure {
    overflow: hidden;
    position: relative;
    height: 600px;
    width: 50vw;
    margin: 0;
}
.right_image_content figure img, .left_image_content figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.faq_section {
    display: block;
    background: #F7F7F7;
}
.accordian_box h5 {
    color: #000;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 22px 24px;
    padding-right: 70px;
    background: url(../images/eye.svg) center right 24px no-repeat;
    cursor: pointer;
}
.accordian_box h5 span {
    color: #95C800;
}
.accordian_box.active {
    border-radius: 8px;
    background: #262626;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}
.accordian_box {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 24px;
}
.accordian_content {
    display: none;
    padding: 0 24px 22px;
}
.accordian_box.active .accordian_content {
    display: block;
    color: #fff;
}
.accordian_box.active h5 {
    color: #fff;
    background: url(../images/eye-off.svg) center right 24px no-repeat;
}
.accordian_box:first-child {
    margin-top: 36px;
}
.accordian_box:last-child {
    margin-bottom: 0;
}
.filter_list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}
.filter_list li {
    margin: 6px 0;
    margin-left: 12px;
}
.filter_list li:first-child {
    margin: 0 12px 0 0;
}
.filter_list li span {
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 15px;
    cursor: pointer;
    display: block;
}
.filter_list li a {
  text-decoration: none;
}
.filter_list li h5 {
    font-weight: bold;
    margin: 0;
    color: #000;
}
.filter_list li input {
    position: absolute;
    left: -9999em;
}
.filter_list li input:checked + span {
    border: 1px solid #597800;
    background: #95C800;
}
.map_area {
    display: block;
    aspect-ratio: 16/6;
    position: relative;
}
.map_area iframe {
    width: 100%;
    display: block;
    aspect-ratio: 16/6;
}
.page_header.blog {
  padding: 16px 0;
  margin-bottom: 16px;
}
.page_header {
    padding: 60px 0;
    display: block;
    background: #EAF4CC;
    margin-bottom: 60px;
}
.page_header h2 {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}
.page_header p {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.page_header .breadcrumb {
    margin: 0;
    justify-content: center;
}
.page_header .breadcrumb-item a {
    color: #000;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #000;
}
.search_area {
    display: block;
}
.search_box {
    display: block;
    width: 100%;
    background: #F0F0F0 url(../images/search.svg) center right 12px no-repeat;
    height: 44px;
    border-radius: 30px;
    border: none;
    padding: 12px 20px;
    padding-right: 44px;
}
.sort_select {
    display: block;
    width: 100%;
    background: #F0F0F0 url(../images/select.svg) center right 12px no-repeat;
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    height: 44px;
    border-radius: 30px;
    border: none;
    padding: 0 20px;
    padding-right: 44px;
}
.relavent_section {
    display: block;
    background: #F7F7F7;
}
.relavent_section h4 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 60px;
}
.category_block {
    display: block;
    aspect-ratio: 4/3;
    margin: 0;
}
.category_block a {
    display: block;
    position: relative;
    color: #000;
}
.category_block img {
    display: block;
    aspect-ratio: 4/3;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}
.category_block span {
    width: calc(100% - 80px);
    height: 40px;
    background: #EAF4CC;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: auto;
    bottom: 40px;
    transform: translateX(-50%);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.search_box {
    display: block;
    width: 100%;
    background: #fff url(../images/search.svg) center right 12px no-repeat;
    height: 54px;
    border-radius: 30px;
    border: none;
    padding: 17px 20px;
    padding-right: 44px;
    margin-top: 24px;
}
.faq_category {
    background: #f8f8f8;
}
.faq_category h5.section_title {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 60px 0;
}
.faqcat_block {
    display: block;
    padding: 40px 35px;
    background: #FFF;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
}
.faqcat_block h5 {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}
.faqcat_block p {
    color: #898989;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}
.faqcat_block a {
    color: #95C800;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.topic_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.topic_list li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 24px;
}
.topic_list li a {
    display: block;
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px 32px;
    border-radius: 8px;
    background: #fff url(../images/right.svg) center right 10px no-repeat;
    text-decoration: none;
    text-align: left;
    transition: all ease-in-out 0.3s;
}
.topic_list li:last-child {
    margin-bottom: 0;
}
.topic_list li a:hover {
    background: #95C800 url(../images/right.svg) center right 10px no-repeat;
}
.glossary_pagination {
    margin: 55px 0 60px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.glossary_pagination li {

}
.glossary_pagination li a {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
    color: #000;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.glossary_pagination li.active a {
    color: #95C800;
}
.glossary_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.glossary_list li {
    display: block;
    padding: 32px 0;
    border-bottom: 1px solid #C5CCDE;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.glossary_list li h4 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 125% */
}
.glossary_list li h4 a {
    color: #000;
    text-decoration: none;
}
.glossary_list li p span {
  font-size: 20px !important;
  font-family: 'Outfit', sans-serif !important;
}
.cat_meta {
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    background: #F0F0F0;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 15px;
    display: inline-flex;
    text-decoration: none;
}
.glossary_search {
    padding: 10px;
    padding-left: 52px;
    height: 52px;
    border-radius: 30px;
    background: #F0F0F0 url(../images/search.svg) center left 16px no-repeat;
    border: none;
    width: 100%;
    margin-bottom: 55px;
}
.glossary_section h4 {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 32px;
}
.glossary_content ul li {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 16px;
}
.glossary_content ul ul {
    margin-top: 16px;
}
.glossary_content p {
    margin-bottom: 32px;
}
.usage_section {
    background: #F7F7F7;
    display: block;
    padding: 60px 0;
}
.usage_section h4 {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 32px;
}
.scenario_block {
    display: block;
    padding: 32px;
    background: #F0F0F0;
    border-radius: 4px;
    margin-bottom: 32px;
}
.scenario_block:nth-child(odd) {
    background: #fff;
}
.scenario_block:last-child {
    margin-bottom: 0;
}
.terminology_list {
    margin: 0;
    padding: 0;
}
.terminology_list li {
    display: list-item;
    border-bottom: 1px solid #ccc;
}
.terminology_list li a {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    padding: 12px 0;
    display: inline-block;
    text-decoration: none;
    background: url(../images/arrow-up-right.svg) center right no-repeat;
    width: 100%;
}
.terminology_list li a:hover {
    color: #95C800;
}
.terminology_list li:last-child {
    border: none;
}
.glossaryterms_content {
    padding: 60px 0;
    display: block;
}
.glossaryterms_content h4 {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 32px;
}
.terms_block {
    display: block;
    padding: 32px;
    border-radius: 4px;
    background: #95C800;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.terms_block p {
    margin: 0;
}
.terms_block strong {
    font-size: 24px;
    line-height: 30px;
}
.terms_block.black {
    background: #000;
}
.terms_block.black p {
    color: #fff;
}
.tools_banner {
    background: #EAF4CC;
}
.tools_banner h2 {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}
.tools_banner p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.tools_banner .breadcrumb {
    margin-bottom: 56px;
}
.tools_banner .breadcrumb-item a {
    color: #000;
}
.tools_tag {
    display: inline-flex;
    vertical-align: top;
    padding: 5px 10px;
    border-radius: 4px;
    background: #95C800;
    color: #000;
    margin-bottom: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.tools_tag img {
    margin-right: 7px;
}
.discloser_section {
    display: block;
    padding: 60px 0;
}
.discloser_block {
    display: block;
    padding: 40px 100px;
    border-radius: 10px;
    background: #F0F8DD;
    margin-bottom: 60px;
}
.discloser_block p {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.discloser_block h5 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}
.discloser_block h5 svg {
    margin-right: 24px;
}
.tools_block {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}
.tools_block:first-child {
    margin-top: 60px;
}
.tools_block:last-child {
    margin: 0;
}
.tools_block figure {
    max-width: 340px;
    flex: 0 0 100%;
    margin: 0;
    margin-right: 40px;
}
.tools_block figure img {
    aspect-ratio: 4/3;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}
.tools_block h4 {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}
.tools_block p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.tools_block p a {
    color: #95C800;
    text-decoration: none;
}
.try_btn {
    display: inline-flex;
    vertical-align: top;
    border-radius: 40px;
    background: #95C800;
    padding: 12px 24px;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.try_btn img {
    margin-left: 12px;
}
.tools_cat {
    display: block;
    padding: 60px 0;
    background: #F7F7F7;
}
.tools_cat_item {
    display: block;
    padding: 20px 24px;
    background: #fff;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    margin: 12px 0;
}
.tools_cat_item img {
    margin-right: 24px;
}
.tools_section {
    display: block;
    padding: 60px 0;
}
.tools_section .blog_area {
    margin-top: 60px;
}
.bg-gray {
    background: #F7F7F7;
}
.feature_tool_section {
    display: block;
    background: #F8F8F8;
}
.tools_block {
    display: block;
    border: 1px solid #D9D9D9;
    background: #FFF;
    padding: 30px;
    text-decoration: none;
    position: relative;
}
.tools_block h4 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.tools_block p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.tools_block figure {
    margin-bottom: 24px;
}
.tools_block figure img {
    width: 152px;
    height: 100px;
    object-fit: scale-down;
}
.tools_arrow {
    position: absolute;
    top: 30px;
    left: auto;
    right: 30px;
}
.center_section {
    display: block;
}
.center_section a {
    display: inline-flex;
    padding: 10px 20px;
    background: #95C800;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    text-decoration: none;
}
.center_section a img {
    margin-left: 16px;
}
.center_block {
    display: block;
    padding: 120px 0 50px;
    border: 6px solid #95C800;
    border-radius: 20px;
    text-align: center;
    position: relative;
    margin-top: 110px;
}
.center_block:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
}
.bg_faq {
    background: url(../images/Rectangle\ 273.png) center no-repeat;
    background-size: cover;
}
.bg_glossary {
    background: url(../images/Rectangle\ 286.png) center no-repeat;
    background-size: cover;
}
.bg_scenarios {
    background: url(../images/Rectangle\ 289.png) center no-repeat;
    background-size: cover;
}
.center_block h4 {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 34px;
    position: relative;
    z-index: 9;
}
.center_block a {
    position: relative;
    z-index: 9;
}
.center_block figure {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 6px solid #95C800;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
}
.feature_blocks {
    display: block;
    padding: 100px 0 0;
}
.feature_heading {
    display: block;
    padding: 15px 20px;
    background: #D5E999;
    font-size: 20px;
    font-weight: 600;
}
.feature_content {
    display: block;
    padding: 24px 20px;
    background: #F0F0F0;
}
.feature_content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.feature_content ul li {
    display: block;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 10px;
}
.feature_content ul li:last-child {
    margin: 0;
}
.feature_content ul li a {
    display: block;
    color: #000;
    text-decoration: none;
}
.feature_list {
    display: block;
    padding: 100px 0;
    position: relative;
}
.feature_list:after {
    display: block;
    width: 100%;
    max-width: 1320px;
    height: 1px;
    background: #CCCCCC;
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.feature_list h2 {
    border-left: 5px solid #D9D9D9;
    padding-left: 15px;
    font-size: 20px;
    line-height: 1.4;
}
.feature_meta h4 {
    color: #95C800;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 16px;
}
.feature_meta p {
    color: #262626;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 32px;
}
.feature_wrap {
    display: block;
    padding: 100px 0;
}
.feature_wrap figure img {
    border: 10px solid rgba(190,255,0, 0.2);
    border-radius: 10px;
}
.freelance-market-banner {
  padding: 140px 0 244px;
  display: block;
  width: 100%;
  background: url(../images/img_27.png) bottom center no-repeat;
  background-size: cover;
  margin-top: -87px;
}
.freelance-market-banner h1 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 24px;
}
.freelance-market-banner p {
  font-size: 24px;
  font-weight: 500;
}
.banner-input form {
  padding: 20px 25px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-top: 48px;
}
.banner-input button {
  background: #95C800;
  border-radius: 3px;
  padding: 12px 32px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.2;
  height: 50px;
  margin-left: 25px;
}
.banner-input input, .banner-input select {
  border: none;
  border-radius: 0;
  flex: 1 0 0%;
  padding: 0 25px;
  font-size: 16px;
}
.banner-input input {
  padding-left: 25px;
  border-left: 1px solid #E6E6E6;
}
.banner-input select {
  padding-left: 0;
  background: url(../images/select_arrow.svg) center right 20px no-repeat;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
}
.recommended-writers-content {
  display: block;
  padding: 20px;
  border-radius: 4px;
  background: #f8faff;
  border: 1px solid #e0e6f7;
}
.recommended-writers-content .content-top {
  display: flex;
  align-items: center;
}
.recommended-writers-content .content-top figure {
  margin: 0 16px 0 0;
  max-width: 80px;
  aspect-ratio: 1/1;
}
.recommended-writers-content .content-top figure img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.content-mid ul {
  font-size: 0;
  margin-top: 20px;
}
.content-mid ul li {
  padding: 7px 10px;
  border-radius: 5px;
  display: inline-block;
  background: #eff3fc;
  vertical-align: top;
  margin: 0 5px 5px 0;
  font-size: 12px;
}
.content-top-info h4 {
  font-size: 20px;
  margin: 0 0 5px;
}
.content-top-info p {
  font-size: 14px;
  color: #a0abb8;
  line-height: 1.2;
  margin: 0;
}
.content-btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e0e6f7;
  text-align: right;
}
.content-btm a {
  display: inline-flex;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  margin-left: auto;
}
.content-btm a img {
  margin-left: 6px;
}
.recommended-writers-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
  margin-bottom: 24px;
}
.recommended-writers-left h6 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.recommended-writers-left p {
  font-size: 16px;
  color: #a0abb8;
  margin: 0;
}
.content-mid p {
  color: #66789c;
  font-size: 14px;
  line-height: 21px;
}
.content-btm .package {
  display: flex;
  align-items: center;
}
.cover_image {
  aspect-ratio: 16/5;
  width: 100%;
}
.cover_image img {
  aspect-ratio: 16/5;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.profile_image {
  margin-top: -90px;
}
.profile_image figure {
  width: 100px;
  aspect-ratio: 1/1;
}
.profile_image figure img {
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.profile_meta {
  display: flex;
  align-items: center;
  margin: 0 0 5px;
}
.profile_meta h2 {
  font-size: 20px;
  margin: 0;
}
.profile_meta .country {
  margin-left: 24px;
  display: flex;
  align-items: center;
}
.profile_excerpt h5 {
  color: #66789c;
  font-size: 18px;
}
.profile_excerpt p {
  color: #4f5e64;
  font-size: 16px;
  line-height: 1.4;
}
.language {
  margin-bottom: 16px;
}
.language span {
  color: #000;
  font-weight: 500;
  font-size: 20px;
}
.view-lang {
  margin-bottom: 24px;
}
.skill_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.skill_list li {
  padding: 5px 15px;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  color: #000;
  border-radius: 10px;
  font-size: 14px;
  background: #EAF4CC;
}
.view-lang blockquote {
  position: relative;
  border: 4px solid #000;
  background: #F8F6F6;
  border-radius: 24px;
  padding: 36px;
  padding-left: 80px;
}
.view-lang blockquote p {
  font-size: 16px;
  margin: 0;
}
.view-lang blockquote img {
  width: 80px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.profile_meta .country span {
  margin-left: 10px;
}
.socials {
  margin-bottom: 24px;
  display: flex;
}
.socials a {
  display: inline-flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  color: #000;
  background: #EAF4CC;
  margin-right: 16px;
  text-decoration: none;
  border-radius: 3px;
}
.portfolio_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}
.portfolio_list li {
  display: inline-flex;
  font-size: 16px;
  padding: 10px 24px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 16px;
}
.profile_video_btn {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 40px;
  background: #95C800;
  display: inline-block;
  vertical-align: top;
  padding: 11px;
  border: none;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
.market-research-content {
  display: block;
  padding: 20px;
  border-radius: 4px;
  background: #f8faff;
  border: 1px solid #e0e6f7;
  margin-top: 24px;
}
.marker-research-info p {
  font-size: 16px;
  line-height: normal;
}
.market-research-content h4 {
  font-size: 20px;
  margin: 0;
}
.market-research-content h4 a {
  color: #000;
  text-decoration: none;
}
.portfolio-links-item {
  display: none;
}
.portfolio-links-item.active {
  display: block;
}
.portfolio-v4-category {
  display: block;
  background: #F8F8F8;
}
.portfolio_list li.active {
  background: #95C800;
  color: #000;
  border-color:#95C800;
}
.portfolio-v4-content-list {
  display: block;
  padding: 20px;
  border-radius: 4px;
  background: #f8faff;
  border: 1px solid #e0e6f7;
  margin-top: 24px;
}

.portfolio-v4-content-list p:last-child {
  margin: 0;
  color: #95C800;
  text-decoration: none;
}
.portfolio-v4-content-list a {
  color: #95C800;
  text-decoration: none;
}
.portfolio-v4-content-list .badge {
  padding: 7px 10px;
  border-radius: 5px;
  display: inline-block;
  background: #eff3fc;
  vertical-align: top;
  margin: 0 0 10px;
  font-size: 14px;
  color: #000;
  font-weight: 500;
}
.portfolio-v4-client-flex {
  display: flex;
  align-items: center;
}
.portfolio-v4-client-flex figure {
  margin: 0 16px 0 0;
}
.portfolio-v4-client-flex figure img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.portfolio-v4-education-info {
  display: block;
  padding: 20px;
  border-radius: 4px;
  background: #f8faff;
  border: 1px solid #e0e6f7;
}
.portfolio-v4-education-info h4 {
  font-size: 20px;
  margin-bottom: 6px;
}
.portfolio-v4-education-info p {
  font-size: 16px;
  margin-bottom: 5px;
  line-height: normal;
}
.portfolio-v4-education-info p:last-child {
  margin: 0;
}
.porfolio-v4-client, .porfolio-v4-feedback-rating, .porfolio-v4-certification {
  display: block;
  background: #F8F8F8;
}
.portfolio-v4-rating-list {
  display: block;
  padding: 20px;
  border-radius: 4px;
  background: #f8faff;
  border: 1px solid #e0e6f7;
  margin-top: 24px;
}
.portfolio-v4-rating-flex {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.rating-list-stars {
  margin-right: 10px;
  font-size: 16px;
  color: #f39c12;
}
.rating-list-stars small {
  color: #000;
}
.portfolio-v4-rating-list p:last-child {
  margin: 0;
}
.author_meta {
  display: flex;
  align-items: center;
}
.author_meta figure {
  margin: 0 16px 0 0;
}
.author_meta figure img {
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}
.author_meta figcaption h4 {
  font-size: 18px;
  margin: 0;
}
.mySwiper, .certificate_slider   {
  margin-top: 24px;
  overflow: hidden;
}
.article_image {
  width: 100%;
  height: auto;
  aspect-ratio: 16/6;
  border-radius: 10px;
  object-fit: cover;
}
.article_banner_image {
  margin-bottom: 24px;
}
.blog_container h1 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}
.blog_items {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.blog_items svg {
  margin: 0 20px 0 0;
}
.table_content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.table_content li {
  display: block;
  margin-bottom: 20px;
}
.table_content li a {
  display: flex;
  padding: 8px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  border-radius: 4px;
}
.table_content li a.active {
  background: #95C800;
  color: #000;
}
.table_content li a svg {
    margin-right: 10px;
    max-width: 24px;
    flex: 0 0 100%;
}
.sticky_sidebar {
  position: sticky;
  top: 50px;
}
.blog_wrapper {
  margin-top: 60px;
}
.news_letter_box {
  display: block;
  padding: 20px;
  border: 1px solid #95C800;
  background: #EAF4CC;
}
.news_letter_box h5 {
  font-size: 18px;
  font-weight: 700;
}
.news_letter_box p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 20px;
}
.news_letter_box p:last-child {
  margin: 0;
}
.news_letter_box label {
  margin-bottom: 10px;
}
.news_letter_box input {
  width: 100%;
  font-size: 16px;
  border: 1px solid #95C800;
  padding: 14px 20px;
  line-height: 20px;
}
.news_letter_box input[type="submit"] {
  background: #95C800;
  color: #000;
  margin: 10px 0;
}
.blog-detail-section p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 30px;
}
.blog-detail-section h1, .blog-detail-section h2, .blog-detail-section h3, .blog-detail-section h4, .blog-detail-section h5, .blog-detail-section h6 {
  margin-bottom: 40px;
}
.blog-widget {
    border: 6px solid #000;
    background: #F8F6F6;
    border-radius: 30px;
    -webkit-box-shadow: inset -10px 0px 0px 0px rgba(226,226,226,1);
    -moz-box-shadow: inset -10px 0px 0px 0px rgba(226,226,226,1);
    box-shadow: inset -10px 0px 0px 0px rgba(226,226,226,1);
    padding: 34px 60px;
    padding-left: 120px;
    position: relative;
    margin-left: 60px;
}
.blog-widget p:last-child {
    margin: 0;
}
.blog-widget img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}
.contact_form .textbox, .contact_form .textarea {
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid #CCC;
    background: #F0F0F0;
    line-height: 30px;
}

@media(max-width:1200px) {
    .navbar-dark .navbar-nav .nav-link, .navbar[data-bs-theme=dark] .navbar-nav .nav-link, .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 14px;
    }
    .navbar-brand img {
        max-width: 140px;
    }
    .login_menu {
        max-width: 140px;
    }
}
@media (max-width: 992px) {
    .navbar-brand {
        margin-left: 16px;
    }
}

@media(max-width: 575px) {
    .navbar[data-bs-theme=dark] .navbar-nav .nav-link {
        color: #000;
        padding: 8px 16px;
    }
    .navbar[data-bs-theme=dark] .navbar-nav .dropdown-menu {
        background: #fff;
    }
    .navbar[data-bs-theme=dark] .navbar-nav .dropdown-item {
        color: #000;
    }
    .blog-widget {
        padding: 16px 24px;
        border-width: 2px;
        border-radius: 16px;
        -webkit-box-shadow: inset -6px 0px 0px 0px rgba(226,226,226,1);
        -moz-box-shadow: inset -6px 0px 0px 0px rgba(226,226,226,1);
        box-shadow: inset -6px 0px 0px 0px rgba(226,226,226,1);
        margin-left: 40px;
        padding-left: 50px;
    }
    .blog-widget p {
        font-size: 16px;
        line-height: 1.4;
    }
    .blog-widget img {
        max-width: 80px;
    }
  .navbar {
    position: absolute;
    z-index: 99;
    width: 100%;
  }
  .login_menu {
    width: auto;
  }
  .home_banner h1 {
    font-size: 30px;
  }
  .home_banner {
    margin: 0;
    padding-top: 100px;
    max-height: 500px;
  }
  .feature_section h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  section {
    padding: 24px 0;
  }
  .video_block h2 {
    font-size: 24px;
  }
  .video_block .play_btn {
    width: 60px;
    height: 60px;
  }
  .title_area h2 {
    font-size: 30px;
    word-break: break-all;
  }
  p {
    font-size: 18px;
  }
  .content_area ul li {
    font-size: 18px;
  }
  .navbar-brand {
    margin-left: 16px;
  }
  .home_banner .play_btn {
    width: 60px;
    height: 60px;
  }
  .home_banner figure {
    margin: 30px auto 0;
  }
  .feature_item {
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .feature_item figure {
    width: 100px;
    height: 100px;
    margin: 0 10px 0 0;
  }
  .feature_item figcaption {
    text-align: left;
  }
  .feature_item h5 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
  }
  .feature_item p {
    text-align: left;
    margin-bottom: 10px;
  }
  .pb-100 {
    padding-bottom: 24px;
  }
  .video_section {
    height: 500px;
  }
  .target_block {
    margin-top: 12px;
  }
  .blog_area {
    margin-top: 32px;
  }
  .pricing_tab {
    margin-bottom: 0;
  }
  .pricing_tab a {
    font-size: 14px;
    padding: 6px 10px;
  }
  .pricing_table {
    margin-top: 12px;
  }
  .cat_section .theme_btn + .theme_btn {
    margin-top: 10px;
  }
  footer .footer_logo {
    margin-bottom: 16px;
  }
  footer p {
    font-size: 16px;
    line-height: 1.4;
  }
  footer ul {
    margin-bottom: 16px;
  }
  footer ul li {
    margin: 0;
  }
  footer ul li a {
    font-size: 16px;
  }
  footer h5 {
    margin: 0;
    font-size: 18px;
  }
  .bottom_footer p {
    font-size: 12px;
    text-align: center;
  }
  .accordian_box h5 {
    font-size: 16px;
    display: flex;
    padding: 10px;
    padding-right: 60px;
    background-position: center right 10px;
    background-size: 16px;
  }
  .accordian_box {
    margin-bottom: 12px;
  }
  .accordian_box h5 span {
    margin-right: 6px;
  }
  .accordian_box.active h5 {
    background-position: center right 10px;
    background-size: 16px;
  }
  .accordian_box.active .accordian_content {
    padding: 0 10px 10px;
  }
  .accordian_box:first-child {
    margin-top: 0;
  }
  .title_area p {
    font-size: 16px;
    line-height: 1.4;
  }
  .left_image_content figure, .right_image_content figure {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    margin: 0 0 16px;
  }
  .marketing_banner figure {
    margin-bottom: 24px;
  }
  .marketing_banner figure:after {
    right: -10px;
    bottom: -10px;
  }
  .marketing_banner {
    padding: 100px 0 24px;
    margin: 0;
  }
  .calltoaction_section {
    padding: 30px;
  }
  .page_header {
    padding: 100px 0 30px;
  }
  .page_header h2 {
    font-size: 30px;
  }
  .feature_blocks {
    padding: 24px 0 0;
  }
  .feature_heading {
    padding: 10px;
    font-size: 16px;
  }
  .feature_content {
    padding: 10px;
  }
  .feature_content ul li {
    font-size: 16px;
  }
  .feature_list {
    padding: 24px 0 0;
  }
  .feature_meta {
    padding-left: 20px;
  }
  .feature_meta h4 {
    font-size: 20px;
    margin: 0;
  }
  .feature_meta p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .center_block figure {
    width: 120px;
    height: 120px;
  }
  .center_block figure img {
    max-width: 50px;
  }
  .center_block {
    margin-top: 80px;
    padding: 70px 0 24px;
  }
  .center_block h4 {
    margin-bottom: 16px;
  }
  .tools_block {
    padding: 12px;
    margin-top: 12px !important;
  }
  .tools_block p {
    font-size: 16px;
  }
  .title_area h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .title_area h4 {
    font-size: 18px;
  }
  .blog_header {
    padding-top: 80px;
  }
  .filter_list li span {
    font-size: 14px;
    padding: 6px 10px;
  }
  .glossary_list li {
    padding: 12px 0;
  }
  .glossary_list li h4 {
    font-size: 20px;
    margin: 0 0 10px;
  }
  .glossary_pagination li a {
    font-size: 14px;
  }
  .glossary_list li p {
    line-height: 1.2;
  }
  .glossary_list li p span {
    font-size: 16px !important;
    line-height: 1.2;
  }
  .cat_meta {
    font-size: 14px;
    padding: 6px 10px;
  }
  .freelance-market-banner h1 {
    font-size: 30px;
  }
  .freelance-market-banner p {
    font-size: 20px;
  }
  .banner-input form {
    flex-direction: column;
  }
  .banner-input button {
    margin: 0;
  }
  .banner-input input, .banner-input select {
    flex: 0 0 50px;
    margin: 0 0 10px;
    border: none;
    padding: 0;
  }
  .glossary_pagination {
    justify-content: center;
  }
  .glossary_content p span, .scenario_block p span {
    font-size: 16px !important;
    line-height: normal;
    font-family: 'Outfit', sans-serif !important;
  }
  .scenario_block {
    padding: 16px;
  }
  .main_nav.navbar-nav {
    background: #fff;
  }
  .navbar-nav .nav-item {
    width: 100%;
  }
  .navbar-nav .nav-item .nav-link {
    padding: 8px 16px;
  }
  .navbar-nav .dropdown-menu {
    border: none;
    border-radius: 0;
    padding: 0 16px;
    margin: 0;
  }
  .main_nav .dropdown-item {
    padding: 8px 16px;
    background: #f7f7f7;
  }
  .page_header.blog {
    padding-top: 90px;
  }
  .blog_items {
    margin-bottom: 10px;
  }
  .blog_container h1 {
    font-size: 24px;
  }
}